In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
path = "CLEAN_P.csv"
df = pd.read_csv( path, decimal='.',error_bad_lines=False)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdpforyear,gdppercapita,generation
0,0,1987,1,0,21,312900,6.71,2156624900,796,2
1,0,1987,1,2,16,308000,5.19,2156624900,796,5
2,0,1987,0,0,14,289700,4.83,2156624900,796,2
3,0,1987,1,5,1,21800,4.59,2156624900,796,1
4,0,1987,1,1,9,274300,3.28,2156624900,796,0

In [4]:
df.shape

(27820, 10)

In [7]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'gdpforyear', 'gdppercapita', 'generation'],
      dtype='object')

In [8]:
df_03 = pd.read_csv("df_03.csv")
important = df_03[["feature", "importance"]].sort_values(by=["importance"]).head(10)
important

             feature  importance
1         population           1
0  suicides/100k pop           2
2       gdppercapita           3
3         gdpforyear           4
4               year           6
5            country           6
6         generation           7
7                age           8
8                sex           9

In [34]:
X = df[important.feature]

In [47]:
y = df.generation

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 40)

In [49]:
model_01 = KNeighborsClassifier(n_neighbors=3)
model_01.fit(X_train.astype("int64").values, y_train.astype("int64"))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [50]:
y_predict = model_01.predict(X_test.astype("int64").values)

In [51]:
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelBinarizer

In [52]:
def multiclass_roc_auc_score(y_test, y_pred, average="macro"):
    lb = LabelBinarizer()
    lb.fit(y_test)
    y_test = lb.transform(y_test)
    y_pred = lb.transform(y_pred)
    
    return roc_auc_score(y_test, y_pred, average=average)

In [53]:
print("F1 score:", f1_score(y_test, y_predict, average=None).mean())
print("ROC-AUC:", multiclass_roc_auc_score(y_test.astype("int64").values, y_predict.astype("int64")))

F1 score: 0.3075762398551736
ROC-AUC: 0.5810415060320259

In [54]:
from sklearn import metrics
print(metrics.classification_report(y_test, y_predict, digits=3))

              precision    recall  f1-score   support

           0      0.288     0.337     0.310      1007
           1      0.630     0.354     0.453       542
           2      0.311     0.413     0.355      1284
           3      0.134     0.160     0.146       306
           4      0.334     0.393     0.361      1192
           5      0.332     0.165     0.220      1233

    accuracy                          0.320      5564
   macro avg      0.338     0.304     0.308      5564
weighted avg      0.338     0.320     0.316      5564

In [55]:
y_predict = model_01.predict(X_train.astype("int64").values)

In [56]:
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelBinarizer

In [57]:
def multiclass_roc_auc_score(y_test, y_pred, average="macro"):
    lb = LabelBinarizer()
    lb.fit(y_test)
    y_test = lb.transform(y_test)
    y_pred = lb.transform(y_pred)
    
    return roc_auc_score(y_test, y_pred, average=average)

In [58]:
from sklearn import metrics
print(metrics.classification_report(y_train, y_predict, digits=3))

              precision    recall  f1-score   support

           0      0.742     0.829     0.783      3983
           1      0.947     0.807     0.872      2202
           2      0.716     0.835     0.771      5124
           3      0.634     0.718     0.673      1164
           4      0.761     0.799     0.780      4652
           5      0.913     0.670     0.773      5131

    accuracy                          0.779     22256
   macro avg      0.786     0.776     0.775     22256
weighted avg      0.794     0.779     0.780     22256